:root .im-dialog-mask {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');
}

@font-face {
  font-family: "webfont";
  src: url("/imui/components/style/fonts/webfont.eot");
  src: url("/imui/components/style/fonts/webfont.eot?") format("embedded-opentype"), url("/imui/components/style/fonts/webfont.woff") format("woff"), url("/imui/components/style/fonts/webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.icon-font {
  font-family: "webfont";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  position: relative;
  vertical-align: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-add:before {
  content: "\f000";
}

.i-alert:before {
  content: "\f001";
}

.i-arrow-bottom:before {
  content: "\f002";
}

.i-arrow-top:before {
  content: "\f003";
}

.i-calendar:before {
  content: "\f004";
}

.i-clone:before {
  content: "\f005";
}

.i-close:before {
  content: "\f006";
}

.i-comment:before {
  content: "\f007";
}

.i-course-data:before {
  content: "\f008";
}

.i-course-live:before {
  content: "\f009";
}

.i-course-q-a:before {
  content: "\f00a";
}

.i-course-record:before {
  content: "\f00b";
}

.i-course-test:before {
  content: "\f00c";
}

.i-delete:before {
  content: "\f00d";
}

.i-download:before {
  content: "\f00e";
}

.i-edit:before {
  content: "\f00f";
}

.i-group:before {
  content: "\f010";
}

.i-heart:before {
  content: "\f011";
}

.i-home:before {
  content: "\f012";
}

.i-info:before {
  content: "\f013";
}

.i-insert:before {
  content: "\f014";
}

.i-list-dot:before {
  content: "\f015";
}

.i-logo:before {
  content: "\f016";
}

.i-phone:before {
  content: "\f017";
}

.i-play:before {
  content: "\f018";
}

.i-qq-border:before {
  content: "\f019";
}

.i-qq:before {
  content: "\f01a";
}

.i-qr-code:before {
  content: "\f01b";
}

.i-question:before {
  content: "\f01c";
}

.i-right:before {
  content: "\f01d";
}

.i-share:before {
  content: "\f01e";
}

.i-star-border:before {
  content: "\f01f";
}

.i-star:before {
  content: "\f020";
}

.i-success:before {
  content: "\f021";
}

.i-tel:before {
  content: "\f022";
}

.i-time:before {
  content: "\f023";
}

.i-to-top:before {
  content: "\f024";
}

.i-tupu:before {
  content: "\f025";
}

.i-upload:before {
  content: "\f026";
}

.i-user-border:before {
  content: "\f027";
}

.i-user-group-border:before {
  content: "\f028";
}

.i-user-group:before {
  content: "\f029";
}

.i-user:before {
  content: "\f02a";
}

.i-v-bottom:before {
  content: "\f02b";
}

.i-v-left:before {
  content: "\f02c";
}

.i-v-right:before {
  content: "\f02d";
}

.i-v-top:before {
  content: "\f02e";
}

.i-weixin-border:before {
  content: "\f02f";
}

.i-weixin:before {
  content: "\f030";
}

.im-dialog {
  position: relative;
  background: #fff;
  top: 100px;
  border-top: 4px solid #039ae3;
  border-radius: 2px;
  min-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.im-dialog-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99373737', endColorstr='#99373737');
  background-color: rgba(55, 55, 55, 0.6);
}

.im-dialog-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.im-dialog-hd {
  line-height: 45px;
  height: 45px;
  color: #999;
}

.im-dialog-hd-text {
  line-height: 45px;
  font-size: 16px;
  padding-left: 15px;
}

.im-dialog-hd-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 45px;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
}

.im-dialog-hd-close:hover {
  color: #039ae3;
}

.im-dialog-bd {
  padding: 15px;
}

.im-dialog-ft {
  padding: 15px;
  text-align: right;
}
