:root .im-dialog-mask {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');
}

.im-dialog {
  position: relative;
  background: #fff;
  top: 100px;
  border-top: 4px solid #039ae3;
  border-radius: 2px;
  min-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.im-dialog-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99373737', endColorstr='#99373737');
  background-color: rgba(55, 55, 55, 0.6);
}

.im-dialog-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.im-dialog-hd {
  line-height: 45px;
  height: 45px;
  color: #999;
}

.im-dialog-hd-text {
  line-height: 45px;
  font-size: 16px;
  padding-left: 15px;
}

.im-dialog-hd-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 45px;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
}

.im-dialog-hd-close:hover {
  color: #039ae3;
}

.im-dialog-bd {
  padding: 15px;
}

.im-dialog-ft {
  padding: 15px;
  text-align: right;
}
