<!DOCTYPE html>
<html lang="zh-CN">
<head>  <meta charset="UTF-8">
  <title>IMUI.Dialog</title>
  
    <link rel="stylesheet" type="text/css" href="/imui/pkg/components/dialog/demo/index.html_aio_3e877e9.css" />
    <style>
    .im-dialog {
      font-family: "Hiragino Sans GB", "Microsoft Yahei", arial, \5b8b\4f53, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    }
  </style>
</head>
<body>
<div id="demo" class="container">

</div>
<script src="/imui/pkg/components/dialog/demo/index.html_aio_b628a64.js"></script>
<script>
  require('components/dialog/demo/demo.jsx');
</script>
</body>
</html>
