<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>IMUI.Dialog</title>
  

    <link rel="stylesheet" type="text/css" href="/imui/pkg/components/dialog/demo/index.html_aio_7895a72.css" />
    <style>
    .im-dialog {
      font-family: "Hiragino Sans GB", "Microsoft Yahei", arial, \5b8b\4f53, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    }

    .im-dialog h3 {
      padding-top: 0;
      padding-bottom: 0;
    }

    .im-dialog h3, .im-dialog div, .im-dialog p {
      margin: 0;
    }
  </style>
</head>
<body>
<div id="demo" class="container">

</div>

<script src="/imui/pkg/components/dialog/demo/index.html_aio_21047b9.js"></script>
<script>
  require('components/dialog/demo/demo.jsx');
</script>
</body>
</html>
