<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form demo</title>
  

    <link rel="stylesheet" type="text/css" href="/imui/pkg/components/form/demo/index.html_aio_2c4f937.css" />
    <style>
  h4 {
    margin: 10px 0;
  }
  </style>
</head>
<body>
  <div class="container">
    <section id="demo">
    </section>
  </div>
</div>

<script src="/imui/pkg/components/form/demo/index.html_aio_3b7a721.js"></script>
<script>
  require('components/form/demo/demo.jsx');
  </script>
</body>
</html>
