<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form demo</title>
  

    <link rel="stylesheet" type="text/css" href="/imui/pkg/components/form/demo/index.html_aio_1c874fa.css" />
    <style>
  .container {
    font-size: 14px;
    font-family: "Hiragino Sans GB", "Microsoft Yahei", arial,\5b8b\4f53, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  }
  </style>
</head>
<body>
  <div class="container">
    <section id="demo">
    </section>
  </div>
</div>

<script src="/imui/pkg/components/form/demo/index.html_aio_772eec5.js"></script>
<script>
  require('components/form/demo/demo.jsx');
  </script>
</body>
</html>
