<!DOCTYPE html>
<html lang="zh-CN">
<head>  <meta charset="UTF-8">
  <title>React</title>
  <script src="//cdn.bootcss.com/remarkable/1.6.2/remarkable.min.js"></script>

    <link rel="stylesheet" href="/site/external/typography.css" />
</head>
<body>
<div id="demo1"></div>
<script src="/site/external/nowrap/mod.js"></script>
<script type="text/javascript" src="/site/components/test/demo/require.js"></script>
<script>'use strict';

require('components/test/demo/require.jsx');</script>
</body>
</html>
