.im-disabled {
  background-color: #e3e3e3 !important;
  color: #999 !important;
  cursor: default !important;
  pointer-events: none !important;
}

.im-disabled.im-text, .im-disabled.im-textarea {
  border-color: #dbdbdb !important;
}

.im-required {
  color: #e80808;
  margin-right: 3px;
}

.im-help {
  color: #999;
}

.im-des {
  color: #999;
}

.im-prefix {
  margin-right: 5px;
}

.im-suffix {
  margin-left: 5px;
}

.im-join {
  margin: 0 5px;
}
