.im-form-item {
  margin-bottom: 20px;
  clear: both;
  position: relative;
}

.im-form-item.im-form-item--inline {
  float: left;
  clear: none;
}

.im-form-item.im-form-item--v .im-label {
  float: none;
  text-align: left;
}

.im-form-item.im-form-item--v .im-field {
  margin-left: 0;
}

.im-form-item .im-checkbox,
.im-form-item .im-radio {
  padding-top: 5px;
  padding-bottom: 5px;
}

.im-field--error .im-text,
.im-field--error .im-textarea,
.im-field--error .im-value-wrap,
.im-field--error .im-date {
  border-color: #e80808;
}
