.im-msg {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 20px;
  line-height: 16px;
  margin-left: 10px;
}

.im-msg .im-msg-icon {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  top: 50%;
  margin-top: -7px;
}

.im-msg .i-alert {
  color: #e80808;
}

.im-msg .i-success {
  color: #5fb41b;
}

.im-msg .i-info {
  color: #039ae3;
}

.im-msg.im-msg--error .im-msg-text {
  color: #e80808;
}

.im-msg.im-msg--block {
  display: block;
  position: relative;
  margin-left: 0;
}

.im-msg.im-msg--absolute {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  margin-left: 14px;
  min-height: 16px;
}
