.im-textarea {
  padding: 4px;
  transition: 0.2s;
  border: 1px solid #e5e5e5;
}

.im-textarea:hover {
  border-color: #b2b2b2;
}

.im-textarea {
  vertical-align: top;
  height: 60px;
  width: 370px;
  resize: none;
}

.im-textarea.im-ele-error {
  border-color: #e80808;
}
