.im-btn.btn-disabled, .im-btn .btn-disabled:hover, .im-btn .btn-disabled:active {
  background-color: #e3e3e3 !important;
  color: #999 !important;
  cursor: default !important;
  pointer-events: none !important;
}

.im-btn.btn-default, .im-btn.btn-primary, .im-btn.btn-weak, .im-btn.btn-outline {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border-radius: 2px;
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.im-btn.btn-default {
  background-color: #04acf7;
  color: #ffffff;
}

.im-btn.btn-default:hover {
  background-color: #04bbf7;
}

.im-btn.btn-default:active {
  background-color: #038dcc;
}

.im-btn.btn-primary {
  background-color: #ff9a00;
  color: #fff;
}

.im-btn.btn-primary:hover {
  background-color: #ffad2f;
}

.im-btn.btn-primary:active {
  background-color: #ed7b00;
}

.im-btn.btn-s {
  padding: 0 1em;
  line-height: 30px;
}

.im-btn.btn-m {
  width: 120px;
  line-height: 40px;
  font-size: 16px;
}

.im-btn.btn-l {
  line-height: 50px;
  font-size: 18px;
  min-width: 150px;
}

.im-btn.btn-default, .im-btn.btn-primary, .im-btn.btn-weak, .im-btn.btn-outline {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border-radius: 2px;
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.im-btn.btn-default {
  background-color: #04acf7;
  color: #ffffff;
}

.im-btn.btn-default:hover {
  background-color: #04bbf7;
}

.im-btn.btn-default:active {
  background-color: #038dcc;
}

.disabled.im-btn.btn-default:hover {
  background-color: #04acf7;
}

.disabled.im-btn.btn-default:active {
  background-color: #04acf7;
}

.im-btn.btn-primary {
  background-color: #ff9a00;
  color: #fff;
}

.im-btn.btn-primary:hover {
  background-color: #ffad2f;
}

.im-btn.btn-primary:active {
  background-color: #ed7b00;
}

.disabled.im-btn.btn-primary:hover {
  background-color: #ff9a00;
}

.disabled.im-btn.btn-primary:active {
  background-color: #ff9a00;
}

.im-btn.btn-s {
  padding: 0 1em;
  line-height: 30px;
}

.im-btn.btn-m {
  width: 120px;
  line-height: 40px;
  font-size: 16px;
}

.im-btn.btn-l {
  line-height: 50px;
  font-size: 18px;
  min-width: 150px;
}

.im-btn.btn-weak {
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
}

.im-btn.btn-weak:hover {
  border-color: #ccc;
  background-color: #eee;
}

.im-btn.btn-weak:active {
  background-color: #ddd;
  color: rgba(51, 51, 51, 0.5);
}

.im-btn.btn-weak.disabled:hover {
  background-color: #fff;
  border: 1px solid #ddd;
}

.im-btn.btn-weak.disabled:active {
  background-color: #fff;
  color: #333;
}

.im-btn.btn-outline {
  color: #188eee;
  border: 1px solid #188eee;
  background-color: #fff;
}

.im-btn.btn-outline:hover {
  border-color: #147de2;
}

.im-btn.btn-outline:active {
  background-color: #e7f2fc;
  color: rgba(24, 142, 238, 0.5);
}

.im-btn.btn-outline.disabled:hover {
  border: 1px solid #188eee;
}

.im-btn.btn-outline.disabled:active {
  background-color: #fff;
  color: #188eee;
}

.im-btn.btn-s.btn-weak, .im-btn.btn-s.btn-outline {
  line-height: 28px;
}

.im-btn.btn-m.btn-weak, .im-btn.btn-m.btn-outline {
  line-height: 38px;
}

.im-btn.btn-l.btn-weak, .im-btn.btn-l.btn-outline {
  line-height: 48px;
}

.im-btn.btn-primary.disabled, .im-btn.btn-default.disabled, .im-btn.btn-weak.disabled, .im-btn.btn-outline.disabled, .im-btn.btn-primary.dis-btn, .im-btn.btn-default.dis-btn, .im-btn.btn-weak.dis-btn, .im-btn.btn-outline.dis-btn {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}

.im-btn.btn-primary ~ .btn-weak,
.im-btn.btn-primary ~ .btn-primary,
.im-btn.btn-primary ~ .btn-default,
.im-btn.btn-primary ~ .btn-outline,
.im-btn.btn-default ~ .btn-weak,
.im-btn.btn-default ~ .btn-default,
.im-btn.btn-default ~ .btn-outline,
.im-btn.btn-default ~ .btn-primary,
.im-btn.btn-outline ~ .btn-outline,
.im-btn.btn-outline ~ .btn-default,
.im-btn.btn-outline ~ .btn-primary,
.im-btn.btn-outline ~ .btn-weak,
.im-btn.btn-weak ~ .btn-outline,
.im-btn.btn-weak ~ .btn-default,
.im-btn.btn-weak ~ .btn-primary,
.im-btn.btn-weak ~ .btn-weak {
  margin-left: 10px;
}

.im-btn.btn-disabled, .im-btn .btn-disabled:hover, .im-btn .btn-disabled:active {
  outline: none;
}

button, input[type="submit"], input[type="button"] {
  border: 0 none;
}

@font-face {
  font-family: "webfont";
  src: url("/imui/components/style/fonts/webfont.eot");
  src: url("/imui/components/style/fonts/webfont.eot?") format("embedded-opentype"), url("/imui/components/style/fonts/webfont.woff") format("woff"), url("/imui/components/style/fonts/webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.icon-font {
  font-family: "webfont";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  position: relative;
  vertical-align: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-group:before {
  content: "\f100";
}

.i-logo:before {
  content: "\f101";
}

.i-heart:before {
  content: "\f102";
}

.i-play:before {
  content: "\f103";
}

.i-calendar:before {
  content: "\f104";
}

.i-qq-border:before {
  content: "\f105";
}

.i-edit:before {
  content: "\f106";
}

.i-v-top:before {
  content: "\f107";
}

.i-alert:before {
  content: "\f108";
}

.i-home:before {
  content: "\f109";
}

.i-success:before {
  content: "\f10a";
}

.i-user-border:before {
  content: "\f10f";
}

.i-tel:before {
  content: "\f110";
}

.i-weixin:before {
  content: "\f111";
}

.i-info:before {
  content: "\f113";
}

.i-question:before {
  content: "\f114";
}

.i-star:before {
  content: "\f115";
}

.i-to-top:before {
  content: "\f116";
}

.i-v-bottom:before {
  content: "\f117";
}

.i-v-left:before {
  content: "\f118";
}

.i-phone:before {
  content: "\f119";
}

.i-weixin-border:before {
  content: "\f11a";
}

.i-user-group-border:before {
  content: "\f11b";
}

.i-star-border:before {
  content: "\f11c";
}

.i-close:before {
  content: "\f11d";
}

.i-user-group:before {
  content: "\f11e";
}

.i-v-right:before {
  content: "\f11f";
}

.i-user:before {
  content: "\f120";
}

.i-course-data:before {
  content: "\f121";
}

.i-course-live:before {
  content: "\f122";
}

.i-course-q-a:before {
  content: "\f123";
}

.i-course-record:before {
  content: "\f124";
}

.i-list-dot:before {
  content: "\f125";
}

.i-delete:before {
  content: "\f126";
}

.i-share:before {
  content: "\f127";
}

.i-download:before {
  content: "\f128";
}

.i-comment:before {
  content: "\f129";
}

.i-course-test:before {
  content: "\f12a";
}

.i-clone:before {
  content: "\f12b";
}

.i-upload:before {
  content: "\f12c";
}

.i-tupu:before {
  content: "\f12d";
}

.i-view:before {
  content: "\f12e";
}

.i-praise:before {
  content: "\f12f";
}

.i-vip-v:before {
  content: "\f130";
}

.i-image-pc:before {
  content: "\f131";
}

.i-right:before {
  content: "\f132";
}

.i-add:before {
  content: "\f133";
}

.i-arrow-top:before {
  content: "\f134";
}

.i-arrow-bottom:before {
  content: "\f135";
}

.i-qr-code:before {
  content: "\f136";
}

.i-insert:before {
  content: "\f137";
}

.i-time:before {
  content: "\f138";
}

.i-qq:before {
  content: "\f179";
}

.i-d-bottom:before {
  content: "\f17a";
}

.i-d-top:before {
  content: "\f17b";
}

.i-volume:before {
  content: "\f17c";
}

.i-schedule:before {
  content: "\f17d";
}

.i-course-replay:before {
  content: "\f17e";
}

.i-installment:before {
  content: "\f17f";
}

.i-smile:before {
  content: "\f180";
}

.i-cry:before {
  content: "\f181";
}

.i-data-border:before {
  content: "\f1a5";
}

.i-calendar-2:before {
  content: "\f1a6";
}

.i-test-border:before {
  content: "\f1a7";
}

.i-record-border:before {
  content: "\f1a8";
}

.i-cancel-top:before {
  content: "\f1a9";
}

.i-replay-border:before {
  content: "\f1aa";
}

.i-live-border:before {
  content: "\f1ab";
}

.i-more:before {
  content: "\f1ac";
}

.i-place-top:before {
  content: "\f1ad";
}

.im-demo > .im-tab > .im-tab-hd {
  opacity: 0.5;
}

.im-demo > .im-tab > .im-tab-hd--border a:hover {
  color: #f39a3d;
}

.im-demo > .im-tab > .im-tab-hd--border a.active {
  color: #f39a3d;
}

.im-demo > .im-tab > .im-tab-hd--border a.active:after {
  background-color: #f39a3d;
}

.im-demo > .im-tab > .im-tab-bd {
  padding-top: 20px;
}

.im-tab-hd:before, .im-tab-hd:after {
  content: "";
  display: table;
}

.im-tab-hd:after {
  clear: both;
}

.im-tab-hd {
  font-size: 16px;
  background: #fff;
}

.im-tab-hd a {
  float: left;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.im-tab-hd a.active:hover {
  cursor: default;
}

.im-tab-hd--border {
  border-bottom: 1px solid #e5e5e5;
  height: 45px;
}

.im-tab-hd--border a {
  width: 150px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-sizing: border-box;
  padding-top: 5px;
  line-height: 40px;
  color: #333;
  background: #fff;
}

.im-tab-hd--border a.active {
  color: #039ae3;
  border-color: #e5e5e5;
  line-height: 41px;
}

.im-tab-hd--border a.active:after {
  content: "";
  height: 5px;
  background: #039ae3;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 0;
}

.im-tab-hd--border a:hover {
  color: #039ae3;
}

.im-tab-hd--bottom {
  border-bottom: 1px solid #e5e5e5;
  line-height: 45px;
}

.im-tab-hd--bottom a {
  position: relative;
  color: #333;
  width: 150px;
}

.im-tab-hd--bottom a:hover {
  color: #039ae3;
}

.im-tab-hd--bottom a.active {
  color: #039ae3;
}

.im-tab-hd--bottom a.active:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #039ae3;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.im-tab-hd--top {
  line-height: 43px;
}

.im-tab-hd--top a {
  position: relative;
  color: #333;
  width: 150px;
  border-top: 2px solid transparent;
}

.im-tab-hd--top a:hover {
  color: #039ae3;
}

.im-tab-hd--top a.active {
  color: #039ae3;
  border-top-color: #039ae3;
}

.im-tab-bd {
  background: #fff;
}

.im-tab-panel-hidden {
  display: none;
}

/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa;
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  font-size: 62.5%;
  font-family: "Hiragino Sans GB", "Microsoft Yahei", arial,\5b8b\4f53, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  overflow-y: scroll;
  min-height: 100%;
  box-sizing: border-box;
  min-width: 1200px;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ol, ul {
  list-style: none outside none;
}

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
}

td, th {
  padding: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

a {
  text-decoration: none;
  background: transparent;
  color: #188eee;
}

a:hover {
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  vertical-align: middle;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

nav:active {
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

i, em {
  font-style: normal;
}

address, caption, cite, code, dfn, th, var, i, s {
  font-style: normal;
  font-weight: normal;
}

div[contenteditable=true] {
  -webkit-line-break: after-white-space;
  -webkit-nbsp-mode: space;
  -webkit-user-modify: read-write;
  word-wrap: break-word;
}

fieldset {
  border: 0;
}

button {
  white-space: nowrap;
  overflow: visible;
}

button, input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input:focus {
  outline: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  vertical-align: middle;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

textarea, input {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-modify: read-write-plaintext-only;
  outline: none !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #a6a6a6;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #a6a6a6;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #a6a6a6;
}

.placeholder {
  color: #a6a6a6;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

:root .im-dialog-mask {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');
}

.im-dialog {
  position: relative;
  background: #fff;
  top: 100px;
  border-top: 4px solid #039ae3;
  border-radius: 2px;
  min-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.im-dialog-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99373737', endColorstr='#99373737');
  background-color: rgba(55, 55, 55, 0.6);
}

.im-dialog-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.im-dialog-hd {
  line-height: 45px;
  height: 45px;
  color: #999;
}

.im-dialog-hd-text {
  line-height: 45px;
  font-size: 16px;
  padding-left: 15px;
}

.im-dialog-hd-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 45px;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
}

.im-dialog-hd-close:hover {
  color: #039ae3;
}

.im-dialog-bd {
  padding: 15px;
}

.im-dialog-ft {
  padding: 15px;
  text-align: right;
}

.icon-big {
  font-size: 22px;
}

.icon-demo ul {
  display: block;
}

.icon-demo ul:after {
  display: block;
  clear: both;
  width: 0;
  height: 0;
  content: ' ';
}

.icon-demo ul.icon-red {
  color: red;
}

.icon-demo ul.icon-orange {
  color: orange;
}

.icon-demo ul.icon-yellow {
  color: yellow;
}

.icon-demo ul.icon-green {
  color: green;
}

.icon-demo ul.icon-blue {
  color: blue;
}

.icon-demo ul.icon-indigo {
  color: #0ff;
}

.icon-demo ul.icon-purple {
  color: purple;
}

.icon-demo ul.icon-black {
  color: #000;
}

.icon-demo li {
  display: block;
  width: 200px;
  height: 80px;
  float: left;
}

.icon-demo li .im-icon {
  text-align: center;
  display: inherit;
  line-height: 40px;
}

.icon-demo li span {
  text-align: center;
  display: inherit;
}

body {
  min-width: inherit !important;
}

.container {
  padding: 50px 100px;
}

h1 {
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 10px;
}

h2 {
  color: #666;
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 20px;
}

h3 {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 5px;
}

h4 {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 5px;
}

code {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.box {
  position: relative;
  max-width: 1200px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

aside {
  position: fixed;
  top: 30px;
  left: 50%;
  margin-left: -600px;
  width: 180px;
  padding-left: 20px;
}

@media (max-width: 1161px) {
  aside {
    margin-left: -530px;
  }
}

aside h1 {
  font-size: 24px;
}

aside li {
  position: relative;
}

aside a {
  font: 18px Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  padding: 10px 0 10px 10px;
  margin-right: 10px;
  display: block;
  border-bottom: 1px solid #dadada;
}

aside a:hover {
  color: #f6b36d;
}

aside a.active {
  color: #f39a3d;
}

aside .blank {
  position: absolute;
  padding: 0;
  right: 20px;
  top: 50%;
  margin-top: -9px;
  border-bottom: none;
}

.main {
  padding-left: 20px;
  padding-bottom: 20px;
  margin-left: 200px;
  background-color: #fff;
  min-height: 600px;
}

