<!DOCTYPE html>
<html lang="zh-CN">
<head>  <meta charset="UTF-8">
  <title>IMUI.Popconfirm</title>

    <link rel="stylesheet" type="text/css" href="/imui/pkg/components/popconfirm/demo/index.html_aio_c4ddd6b.css" />
</head>

<body>
  <div class="container">
    <h1>IMUI.Popconfirm</h1>

    <section id="demo"></section>
  </div>

<script src="/imui/pkg/components/popconfirm/demo/index.html_aio_930394f.js"></script>
<script>
    require('components/popconfirm/demo/demo.jsx');
  </script>
</body>
</html>
