:root .im-dialog-mask {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');
}

.im-dialog {
  position: relative;
  background: #fff;
  top: 100px;
  border-top: 4px solid #039ae3;
  border-radius: 2px;
  min-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.im-dialog-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99373737', endColorstr='#99373737');
  background-color: rgba(55, 55, 55, 0.6);
}

.im-dialog-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.im-dialog-hd {
  line-height: 45px;
  height: 45px;
  color: #999;
}

.im-dialog-hd-text {
  line-height: 45px;
  font-size: 16px;
  padding-left: 15px;
}

.im-dialog-hd-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 45px;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
}

.im-dialog-hd-close:hover {
  color: #039ae3;
}

.im-dialog-bd {
  padding: 15px;
}

.im-dialog-ft {
  padding: 15px;
  text-align: right;
}

.im-btn.btn-disabled, .im-btn .btn-disabled:hover, .im-btn .btn-disabled:active {
  background-color: #e3e3e3 !important;
  color: #999 !important;
  cursor: default !important;
  pointer-events: none !important;
}

.im-btn.btn-default, .im-btn.btn-primary, .im-btn.btn-weak, .im-btn.btn-outline {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border-radius: 2px;
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.im-btn.btn-default {
  background-color: #04acf7;
  color: #ffffff;
}

.im-btn.btn-default:hover {
  background-color: #04bbf7;
}

.im-btn.btn-default:active {
  background-color: #038dcc;
}

.im-btn.btn-primary {
  background-color: #ff9a00;
  color: #fff;
}

.im-btn.btn-primary:hover {
  background-color: #ffad2f;
}

.im-btn.btn-primary:active {
  background-color: #ed7b00;
}

.im-btn.btn-s {
  padding: 0 1em;
  line-height: 30px;
}

.im-btn.btn-m {
  width: 120px;
  line-height: 40px;
  font-size: 16px;
}

.im-btn.btn-l {
  line-height: 50px;
  font-size: 18px;
  min-width: 150px;
}

.im-btn.btn-default, .im-btn.btn-primary, .im-btn.btn-weak, .im-btn.btn-outline {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border-radius: 2px;
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.im-btn.btn-default {
  background-color: #04acf7;
  color: #ffffff;
}

.im-btn.btn-default:hover {
  background-color: #04bbf7;
}

.im-btn.btn-default:active {
  background-color: #038dcc;
}

.disabled.im-btn.btn-default:hover {
  background-color: #04acf7;
}

.disabled.im-btn.btn-default:active {
  background-color: #04acf7;
}

.im-btn.btn-primary {
  background-color: #ff9a00;
  color: #fff;
}

.im-btn.btn-primary:hover {
  background-color: #ffad2f;
}

.im-btn.btn-primary:active {
  background-color: #ed7b00;
}

.disabled.im-btn.btn-primary:hover {
  background-color: #ff9a00;
}

.disabled.im-btn.btn-primary:active {
  background-color: #ff9a00;
}

.im-btn.btn-s {
  padding: 0 1em;
  line-height: 30px;
}

.im-btn.btn-m {
  width: 120px;
  line-height: 40px;
  font-size: 16px;
}

.im-btn.btn-l {
  line-height: 50px;
  font-size: 18px;
  min-width: 150px;
}

.im-btn.btn-weak {
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
}

.im-btn.btn-weak:hover {
  border-color: #ccc;
  background-color: #eee;
}

.im-btn.btn-weak:active {
  background-color: #ddd;
  color: rgba(51, 51, 51, 0.5);
}

.im-btn.btn-weak.disabled:hover {
  background-color: #fff;
  border: 1px solid #ddd;
}

.im-btn.btn-weak.disabled:active {
  background-color: #fff;
  color: #333;
}

.im-btn.btn-outline {
  color: #188eee;
  border: 1px solid #188eee;
  background-color: #fff;
}

.im-btn.btn-outline:hover {
  border-color: #147de2;
}

.im-btn.btn-outline:active {
  background-color: #e7f2fc;
  color: rgba(24, 142, 238, 0.5);
}

.im-btn.btn-outline.disabled:hover {
  border: 1px solid #188eee;
}

.im-btn.btn-outline.disabled:active {
  background-color: #fff;
  color: #188eee;
}

.im-btn.btn-s.btn-weak, .im-btn.btn-s.btn-outline {
  line-height: 28px;
}

.im-btn.btn-m.btn-weak, .im-btn.btn-m.btn-outline {
  line-height: 38px;
}

.im-btn.btn-l.btn-weak, .im-btn.btn-l.btn-outline {
  line-height: 48px;
}

.im-btn.btn-primary.disabled, .im-btn.btn-default.disabled, .im-btn.btn-weak.disabled, .im-btn.btn-outline.disabled, .im-btn.btn-primary.dis-btn, .im-btn.btn-default.dis-btn, .im-btn.btn-weak.dis-btn, .im-btn.btn-outline.dis-btn {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}

.im-btn.btn-primary ~ .btn-weak,
.im-btn.btn-primary ~ .btn-primary,
.im-btn.btn-primary ~ .btn-default,
.im-btn.btn-primary ~ .btn-outline,
.im-btn.btn-default ~ .btn-weak,
.im-btn.btn-default ~ .btn-default,
.im-btn.btn-default ~ .btn-outline,
.im-btn.btn-default ~ .btn-primary,
.im-btn.btn-outline ~ .btn-outline,
.im-btn.btn-outline ~ .btn-default,
.im-btn.btn-outline ~ .btn-primary,
.im-btn.btn-outline ~ .btn-weak,
.im-btn.btn-weak ~ .btn-outline,
.im-btn.btn-weak ~ .btn-default,
.im-btn.btn-weak ~ .btn-primary,
.im-btn.btn-weak ~ .btn-weak {
  margin-left: 10px;
}

.im-btn.btn-disabled, .im-btn .btn-disabled:hover, .im-btn .btn-disabled:active {
  outline: none;
}

button, input[type="submit"], input[type="button"] {
  border: 0 none;
}

.im-demo > .im-tab > .im-tab-hd {
  opacity: 0.5;
}

.im-demo > .im-tab > .im-tab-hd--border a:hover {
  color: #f39a3d;
}

.im-demo > .im-tab > .im-tab-hd--border a.active {
  color: #f39a3d;
}

.im-demo > .im-tab > .im-tab-hd--border a.active:after {
  background-color: #f39a3d;
}

.im-demo > .im-tab > .im-tab-bd {
  padding-top: 20px;
}

.im-tab-hd:before, .im-tab-hd:after {
  content: "";
  display: table;
}

.im-tab-hd:after {
  clear: both;
}

.im-tab-hd {
  font-size: 16px;
  background: #fff;
}

.im-tab-hd a {
  float: left;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.im-tab-hd a.active:hover {
  cursor: default;
}

.im-tab-hd--border {
  border-bottom: 1px solid #e5e5e5;
  height: 45px;
}

.im-tab-hd--border a {
  width: 150px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-sizing: border-box;
  padding-top: 5px;
  line-height: 40px;
  color: #333;
  background: #fff;
}

.im-tab-hd--border a.active {
  color: #039ae3;
  border-color: #e5e5e5;
  line-height: 41px;
}

.im-tab-hd--border a.active:after {
  content: "";
  height: 5px;
  background: #039ae3;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 0;
}

.im-tab-hd--border a:hover {
  color: #039ae3;
}

.im-tab-hd--bottom {
  border-bottom: 1px solid #e5e5e5;
  line-height: 45px;
}

.im-tab-hd--bottom a {
  position: relative;
  color: #333;
  width: 150px;
}

.im-tab-hd--bottom a:hover {
  color: #039ae3;
}

.im-tab-hd--bottom a.active {
  color: #039ae3;
}

.im-tab-hd--bottom a.active:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #039ae3;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.im-tab-hd--top {
  line-height: 43px;
}

.im-tab-hd--top a {
  position: relative;
  color: #333;
  width: 150px;
  border-top: 2px solid transparent;
}

.im-tab-hd--top a:hover {
  color: #039ae3;
}

.im-tab-hd--top a.active {
  color: #039ae3;
  border-top-color: #039ae3;
}

.im-tab-bd {
  background: #fff;
}

.im-tab-panel-hidden {
  display: none;
}

/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa;
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

body {
  min-width: inherit !important;
}

.container {
  padding: 50px 100px;
}

h1 {
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 10px;
}

h2 {
  color: #666;
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 20px;
}

h3 {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 5px;
}

h4 {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 5px;
}

code {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
}

