.im-page {
  text-align: center;
  margin: 30px 0;
  font-size: 16px;
  line-height: 38px;
  position: relative;
}

.im-page button, .im-page span {
  margin: 0 3px 0 3px;
}

.im-page--small {
  font-size: 14px;
  line-height: 28px;
}

.im-page--large {
  font-size: 18px;
  line-height: 48px;
}
