.im-dp-day, .im-dp-day--unvisual, .im-dp-op-icon {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.im-datepicker {
  display: inline-block;
}

.im-dp-input--wrap {
  position: relative;
}

.im-dp-input--wrap input {
  cursor: pointer;
  border: 1px solid #afafaf;
  padding: 6px 10px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}

.im-dp-input--wrap .im-dp-input--icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding-right: 5px;
  cursor: pointer;
}

.im-dp-input--wrap .im-dp-input--icon .icon-font {
  vertical-align: middle;
}

.im-dp-input--wrap .im-dp-input--icon:before {
  content: '';
  width: 0;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
  display: inline-block;
}

.im-dp-input--wrap .i-calendar {
  font-size: 20px;
  color: #afafaf;
}

.im-dp-input--wrap .i-close {
  font-size: 14px;
  color: #afafaf;
  padding: 5px;
  margin-right: -5px;
}

.im-dp-input--wrap .i-close:hover {
  color: #333;
}

.im-dp-input--wrap.disabled input {
  color: #afafaf;
  cursor: default;
}

.im-dp-input--wrap.disabled .i-close:hover {
  color: #afafaf;
}

.im-dp-input--wrap.disabled .im-dp-input--icon {
  cursor: default;
}

.im-dp-calendar {
  border: 1px solid #afafaf;
  position: absolute;
  height: 272px;
  width: 250px;
  background-color: #fff;
  z-index: 200;
}

.im-dp-calendar.hide {
  display: none;
}

.im-dp-calendar.im-dp-calendar--inline {
  display: block;
  position: relative;
}

.im-dp-month {
  margin-left: 6px;
}

.im-dp-month-bd {
  position: relative;
  z-index: 10;
}

.im-dp-month-bg {
  font-size: 160px;
  position: absolute;
  opacity: 0.1;
  filter: alpha(opacity=10);
  right: -2px;
  bottom: -10px;
  line-height: 1;
  z-index: 9;
}

.im-dp-week {
  width: 100%;
  height: 34px;
}

.im-dp-day {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  vertical-align: middle;
}

.im-dp-day:hover {
  cursor: pointer;
  color: #fff;
  background-color: #68b30f;
}

.im-dp-day.disabled {
  color: #a0a0a0;
}

.im-dp-day.disabled:hover {
  cursor: default;
  color: #a0a0a0;
  background: none;
}

.im-dp-day.selected {
  color: #fff;
  background-color: #68b30f;
}

.im-dp-day.selected:hover {
  cursor: pointer;
  color: #fff;
  background-color: #68b30f;
}

.im-dp-day--unvisual {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  vertical-align: middle;
  visibility: hidden;
}

.im-dp-wtlist {
  margin: 0 6px;
  border-bottom: 1px solid #e5e5e5;
}

.im-dp-wt {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

.im-dp-wt--weekend {
  color: #e75407;
}

.im-dp-op {
  font-weight: bolder;
  text-align: center;
  position: relative;
  margin-top: 8px;
}

.im-dp-op-icon {
  position: absolute;
  display: inline-block;
  font-size: 40px;
  font-weight: 400;
  color: #999;
  top: -5px;
  text-align: center;
  width: 34px;
  height: 30px;
  line-height: 22px;
}

.im-dp-op-icon:hover {
  cursor: pointer;
  color: #68b30f;
}

.im-dp-op .im-dp-icon--prev {
  left: 5px;
}

.im-dp-op .im-dp-icon--next {
  right: 5px;
}
