<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Monthpicker demo</title>
  

    <link rel="stylesheet" type="text/css" href="/imui/pkg/components/monthpicker/demo/index.html_aio_257cabb.css" />
    <style>
    .input-border-red input{
      border: 1px solid red;
    }

    .container {
      padding-bottom: 300px;
    }
  </style>
</head>
<body>
<div id="demo" class="container"></div>

<script src="/imui/pkg/components/monthpicker/demo/index.html_aio_109a44a.js"></script>
<script>
  require('components/monthpicker/demo/demo.jsx');
</script>
</body>
</html>
