.im-dropdown {
  background: #fff;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.im-dropdown-wrap {
  border: 1px solid #e5e5e5;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  padding: 4px 30px 4px 4px;
  position: relative;
  white-space: nowrap;
}

.im-dropdown-wrap:hover {
  border-color: #ccc;
}

.im-dropdown-wrap-text {
  border: 0;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  outline: none;
  padding: 0;
}

.im-dropdown-wrap-icon {
  background-color: #fff;
  color: #999;
  height: 30px;
  line-height: 30px;
  margin-top: -15px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  width: 30px;
}

.im-dropdown-dropdown {
  background: #fff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  display: none;
  left: 0;
  margin-top: -1px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 4000;
}

.im-dropdown-dropdown-list {
  max-height: 300px;
  overflow-y: auto;
}

.im-dropdown-dropdown-list-one {
  background: #fff;
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  min-height: 30px;
  line-height: 30px;
  padding: 0 10px;
  position: relative;
}

.im-dropdown-dropdown-list-one:hover {
  background: #f3f3f3;
}
