<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>IMUI.Dropdown</title>

    <link rel="stylesheet" type="text/css" href="/imui/pkg/components/dropdown/demo/index.html_aio_19a3dba.css" />
</head>
<body>
<div class="container">
  <h1>IMUI.Dropdown</h1>

  <section>
    <h2>HTML</h2>
    <div class="im-dropdown">
      <div class="im-dropdown-wrap">
        <div>abc 123</div>
        <span class="im-dropdown-wrap-icon"><i class="im-icon icon-font i-v-bottom"></i></span>
      </div>
      <div class="im-dropdown-dropdown" style="display: block">
        <div class="im-dropdown-dropdown-list">
          <div class="im-dropdown-dropdown-list-one">A</div>
          <div class="im-dropdown-dropdown-list-one">B</div>
          <div class="im-dropdown-dropdown-list-one">C</div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2>basic</h2>
    <div id="basic"></div>
  </section>

  <section>
    <h2>searchable</h2>
    <div id="searchable"></div>
  </section>

  <section>
    <h2>asnyc</h2>
    <div id="asnyc"></div>
  </section>

  <section>
    <h2>nest</h2>
    <div id="nest"></div>
  </section>
</div>

<script src="/imui/pkg/components/dropdown/demo/index.html_aio_8b42a7d.js"></script>
<script>
  require('components/dropdown/demo/basic.jsx');
  require('components/dropdown/demo/searchable.jsx');
  require('components/dropdown/demo/asnyc.jsx');
  require('components/dropdown/demo/nest.jsx');
</script>
</body>
</html>
