<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>Tab Demo</title>
  

    <link rel="stylesheet" type="text/css" href="/imui/pkg/components/datepicker/demo/index.html_aio_816a0ca.css" />
    <style>
    .input-border-red input{
      border: 1px solid red;
    }

    .container {
      padding-bottom: 300px;
    }
  </style>
</head>
<body>
<div class="container">
<h1>IMUI.Datepicker</h1>
<section id="demo1"></section>
<section id="demo2"></section>
<section id="demo3"></section>
<section id="demo4"></section>
<section id="demo5"></section>
<section id="demo6"></section>
<section id="demo7"></section>
<section id="demo8"></section>
<section id="demo9"></section>
<section id="demo10"></section>
<section id="demo11"></section>
<section id="demo12"></section>
<section id="demo13"></section>
<section id="demo14"></section>
<section id="demo15"></section>
</div>

<script src="/imui/pkg/components/datepicker/demo/index.html_aio_70c695b.js"></script>
<script>
  require('components/datepicker/demo/demo1.jsx');
  require('components/datepicker/demo/demo2.jsx');
  require('components/datepicker/demo/demo3.jsx');
  require('components/datepicker/demo/demo4.jsx');
  require('components/datepicker/demo/demo5.jsx');
  require('components/datepicker/demo/demo6.jsx');
  require('components/datepicker/demo/demo7.jsx');
  require('components/datepicker/demo/demo8.jsx');
  require('components/datepicker/demo/demo9.jsx');
  require('components/datepicker/demo/demo10.jsx');
  require('components/datepicker/demo/demo11.jsx');
  require('components/datepicker/demo/demo12.jsx');
  require('components/datepicker/demo/demo13.jsx');
  require('components/datepicker/demo/demo14.jsx');
  require('components/datepicker/demo/demo15.jsx');
</script>
</body>
</html>
