<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>Datepicker Demo</title>
  

    <link rel="stylesheet" type="text/css" href="/imui/pkg/components/datepicker/demo/index.html_aio_e0e6dfa.css" />
    <style>
    .input-border-red input{
      border: 1px solid red;
    }

    .container {
      padding-bottom: 300px;
    }
  </style>
</head>
<body>
<div id="demo" class="container">
</div>

<script src="/imui/pkg/components/datepicker/demo/index.html_aio_e83bac0.js"></script>
<script>
  require('components/datepicker/demo/demo.jsx');
</script>
</body>
</html>
