.im-btn.btn-disabled, .im-btn .btn-disabled:hover, .im-btn .btn-disabled:active {
  background-color: #e3e3e3 !important;
  color: #999 !important;
  cursor: default !important;
  pointer-events: none !important;
}

.im-btn.btn-default, .im-btn.btn-primary, .im-btn.btn-weak, .im-btn.btn-outline {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border-radius: 2px;
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.im-btn.btn-default {
  background-color: #04acf7;
  color: #ffffff;
}

.im-btn.btn-default:hover {
  background-color: #04bbf7;
}

.im-btn.btn-default:active {
  background-color: #038dcc;
}

.im-btn.btn-primary {
  background-color: #ff9a00;
  color: #fff;
}

.im-btn.btn-primary:hover {
  background-color: #ffad2f;
}

.im-btn.btn-primary:active {
  background-color: #ed7b00;
}

.im-btn.btn-s {
  padding: 0 1em;
  line-height: 30px;
}

.im-btn.btn-m {
  width: 120px;
  line-height: 40px;
  font-size: 16px;
}

.im-btn.btn-l {
  line-height: 50px;
  font-size: 18px;
  min-width: 150px;
}

.im-btn.btn-default, .im-btn.btn-primary, .im-btn.btn-weak, .im-btn.btn-outline {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border-radius: 2px;
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.im-btn.btn-default {
  background-color: #04acf7;
  color: #ffffff;
}

.im-btn.btn-default:hover {
  background-color: #04bbf7;
}

.im-btn.btn-default:active {
  background-color: #038dcc;
}

.disabled.im-btn.btn-default:hover {
  background-color: #04acf7;
}

.disabled.im-btn.btn-default:active {
  background-color: #04acf7;
}

.im-btn.btn-primary {
  background-color: #ff9a00;
  color: #fff;
}

.im-btn.btn-primary:hover {
  background-color: #ffad2f;
}

.im-btn.btn-primary:active {
  background-color: #ed7b00;
}

.disabled.im-btn.btn-primary:hover {
  background-color: #ff9a00;
}

.disabled.im-btn.btn-primary:active {
  background-color: #ff9a00;
}

.im-btn.btn-s {
  padding: 0 1em;
  line-height: 30px;
}

.im-btn.btn-m {
  width: 120px;
  line-height: 40px;
  font-size: 16px;
}

.im-btn.btn-l {
  line-height: 50px;
  font-size: 18px;
  min-width: 150px;
}

.im-btn.btn-weak {
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
}

.im-btn.btn-weak:hover {
  border-color: #ccc;
  background-color: #eee;
}

.im-btn.btn-weak:active {
  background-color: #ddd;
  color: rgba(51, 51, 51, 0.5);
}

.im-btn.btn-weak.disabled:hover {
  background-color: #fff;
  border: 1px solid #ddd;
}

.im-btn.btn-weak.disabled:active {
  background-color: #fff;
  color: #333;
}

.im-btn.btn-outline {
  color: #188eee;
  border: 1px solid #188eee;
  background-color: #fff;
}

.im-btn.btn-outline:hover {
  border-color: #147de2;
}

.im-btn.btn-outline:active {
  background-color: #e7f2fc;
  color: rgba(24, 142, 238, 0.5);
}

.im-btn.btn-outline.disabled:hover {
  border: 1px solid #188eee;
}

.im-btn.btn-outline.disabled:active {
  background-color: #fff;
  color: #188eee;
}

.im-btn.btn-s.btn-weak, .im-btn.btn-s.btn-outline {
  line-height: 28px;
}

.im-btn.btn-m.btn-weak, .im-btn.btn-m.btn-outline {
  line-height: 38px;
}

.im-btn.btn-l.btn-weak, .im-btn.btn-l.btn-outline {
  line-height: 48px;
}

.im-btn.btn-primary.disabled, .im-btn.btn-default.disabled, .im-btn.btn-weak.disabled, .im-btn.btn-outline.disabled, .im-btn.btn-primary.dis-btn, .im-btn.btn-default.dis-btn, .im-btn.btn-weak.dis-btn, .im-btn.btn-outline.dis-btn {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}

.im-btn.btn-primary ~ .btn-weak,
.im-btn.btn-primary ~ .btn-primary,
.im-btn.btn-primary ~ .btn-default,
.im-btn.btn-primary ~ .btn-outline,
.im-btn.btn-default ~ .btn-weak,
.im-btn.btn-default ~ .btn-default,
.im-btn.btn-default ~ .btn-outline,
.im-btn.btn-default ~ .btn-primary,
.im-btn.btn-outline ~ .btn-outline,
.im-btn.btn-outline ~ .btn-default,
.im-btn.btn-outline ~ .btn-primary,
.im-btn.btn-outline ~ .btn-weak,
.im-btn.btn-weak ~ .btn-outline,
.im-btn.btn-weak ~ .btn-default,
.im-btn.btn-weak ~ .btn-primary,
.im-btn.btn-weak ~ .btn-weak {
  margin-left: 10px;
}

.im-btn.btn-disabled, .im-btn .btn-disabled:hover, .im-btn .btn-disabled:active {
  outline: none;
}

button, input[type="submit"], input[type="button"] {
  border: 0 none;
}

@font-face {
  font-family: "webfont";
  src: url("/imui/components/style/fonts/webfont.eot");
  src: url("/imui/components/style/fonts/webfont.eot?") format("embedded-opentype"), url("/imui/components/style/fonts/webfont.woff") format("woff"), url("/imui/components/style/fonts/webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.icon-font {
  font-family: "webfont";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  position: relative;
  vertical-align: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-group:before {
  content: "\f100";
}

.i-logo:before {
  content: "\f101";
}

.i-heart:before {
  content: "\f102";
}

.i-play:before {
  content: "\f103";
}

.i-calendar:before {
  content: "\f104";
}

.i-qq-border:before {
  content: "\f105";
}

.i-edit:before {
  content: "\f106";
}

.i-v-top:before {
  content: "\f107";
}

.i-alert:before {
  content: "\f108";
}

.i-home:before {
  content: "\f109";
}

.i-success:before {
  content: "\f10a";
}

.i-user-border:before {
  content: "\f10f";
}

.i-tel:before {
  content: "\f110";
}

.i-weixin:before {
  content: "\f111";
}

.i-info:before {
  content: "\f113";
}

.i-question:before {
  content: "\f114";
}

.i-star:before {
  content: "\f115";
}

.i-to-top:before {
  content: "\f116";
}

.i-v-bottom:before {
  content: "\f117";
}

.i-v-left:before {
  content: "\f118";
}

.i-phone:before {
  content: "\f119";
}

.i-weixin-border:before {
  content: "\f11a";
}

.i-user-group-border:before {
  content: "\f11b";
}

.i-star-border:before {
  content: "\f11c";
}

.i-close:before {
  content: "\f11d";
}

.i-user-group:before {
  content: "\f11e";
}

.i-v-right:before {
  content: "\f11f";
}

.i-user:before {
  content: "\f120";
}

.i-course-data:before {
  content: "\f121";
}

.i-course-live:before {
  content: "\f122";
}

.i-course-q-a:before {
  content: "\f123";
}

.i-course-record:before {
  content: "\f124";
}

.i-list-dot:before {
  content: "\f125";
}

.i-delete:before {
  content: "\f126";
}

.i-share:before {
  content: "\f127";
}

.i-download:before {
  content: "\f128";
}

.i-comment:before {
  content: "\f129";
}

.i-course-test:before {
  content: "\f12a";
}

.i-clone:before {
  content: "\f12b";
}

.i-upload:before {
  content: "\f12c";
}

.i-tupu:before {
  content: "\f12d";
}

.i-view:before {
  content: "\f12e";
}

.i-praise:before {
  content: "\f12f";
}

.i-vip-v:before {
  content: "\f130";
}

.i-image-pc:before {
  content: "\f131";
}

.i-right:before {
  content: "\f132";
}

.i-add:before {
  content: "\f133";
}

.i-arrow-top:before {
  content: "\f134";
}

.i-arrow-bottom:before {
  content: "\f135";
}

.i-qr-code:before {
  content: "\f136";
}

.i-insert:before {
  content: "\f137";
}

.i-time:before {
  content: "\f138";
}

.i-qq:before {
  content: "\f179";
}

.i-d-bottom:before {
  content: "\f17a";
}

.i-d-top:before {
  content: "\f17b";
}

.i-volume:before {
  content: "\f17c";
}

.i-schedule:before {
  content: "\f17d";
}

.i-course-replay:before {
  content: "\f17e";
}

.i-installment:before {
  content: "\f17f";
}

.i-smile:before {
  content: "\f180";
}

.i-cry:before {
  content: "\f181";
}

.i-data-border:before {
  content: "\f1a5";
}

.i-calendar-2:before {
  content: "\f1a6";
}

.i-test-border:before {
  content: "\f1a7";
}

.i-record-border:before {
  content: "\f1a8";
}

.i-cancel-top:before {
  content: "\f1a9";
}

.i-replay-border:before {
  content: "\f1aa";
}

.i-live-border:before {
  content: "\f1ab";
}

.i-more:before {
  content: "\f1ac";
}

.i-place-top:before {
  content: "\f1ad";
}

.im-page {
  text-align: center;
}

.im-page button, .im-page span {
  margin: 0 3px 0 3px;
}

body {
  min-width: inherit !important;
}

.container {
  padding: 50px 100px;
}

h1 {
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 10px;
}

h2 {
  color: #666;
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 20px;
}

h3 {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 5px;
}

h4 {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 5px;
}

code {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
}

